[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "shells/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = shells/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "shells/zsh/custom/plugins/zsh-completions"]
	path = shells/zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "shells/zsh/custom/plugins/zsh-autosuggestions"]
	path = shells/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
