[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "shells/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = shells/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "shells/zsh/custom/plugins/zsh-completions"]
	path = shells/zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "shells/zsh/custom/plugins/zsh-autosuggestions"]
	path = shells/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "apps/iterm2/iTerm2-Color-Schemes"]
	path = apps/iterm2/iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "shells/zsh/custom/themes/powerlevel10k"]
	path = shells/zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "meta/dotbot-brewfile"]
	path = meta/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
